* {
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 90px;
  height: 90px;
}

.light-square {
  background-color: #dedede;
}

.dark-square {
  background-color: #888;
}
